@import "tailwindcss";

@font-face {
  font-family: "Branch";
  src: url("/fonts/Branch.otf") format("opentype"),
    url("/fonts/Branch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-branch: "Branch", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-branch);
}

p {
  font-family: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a09;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
